body {
    background-color: #f9f9f9;
    margin: 0;
    text-align: center;
}

.content {
    max-width: 960px;
    display: block;
    margin: 0 auto;
    font-family: "Roboto", "Helvetica", sans serif;
}

.name {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}

.nav {
    padding-top: 10px;
}

.nav-content {
    width: 100px;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
}

.nav-content a {
    letter-spacing: 4px;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
    padding-left: 4px;
    display: block;
}

.nav-content a.active,a:hover {
    color: #aaa;
    border-bottom: none;
}

.about {
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    font-family: "Open Sans", "Arial", sans serif;
}

.about a {
    color: inherit;
}

#good-tastes,#good-tastes:hover {
    text-decoration: none;
    /*cursor: default;*/
}


